# Common properties
[*] # -------------
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.json]
indent_size = 2

# C# coding conventions and formatting rules
[*.cs] # -----------------------------------
csharp_new_line_before_open_brace = none
csharp_style_namespace_declarations = file_scoped:warning

# .NET code analysis diagnostics
[*.cs] # -----------------------
# IDE0161: Convert to file-scoped namespace
dotnet_diagnostic.IDE0161.severity = warning

# Overridden diagnostics for tests
[tests/**/*.cs] #-----------------
# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = silent
